* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(2, 47, 61);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  & h1 {
    font-size: 3em;
  }
  & p {
    font-size: 1.5em;
  }
  & a {
    color: rgb(111, 204, 238);
    &:hover {
      background-color: white;
    }
  }
}
