@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import "tailwindcss";


@theme {
  --font-primaryFont: "Mozilla Headline", sans-serif;
  --font-headerFont: "DM Sans", sans-serif;
  --font-bodyFont: "Inter", sans-serif;
  --font-secBodyFont: "Libertinus Serif", serif;
}